.block {
	padding: 20px 30px;
	border-bottom: 2px dashed $linkColor;
	h1,
	h2 {
		@extend %linkColor;
		font-weight: normal;
		font-size: 20px;
		line-height: 120%;
		text-align: center;
		margin: 20px 0;
	}
	p {
		margin: 20px 0;
	} 
	&-1 {
		min-height: 500px;
	}
	&-2 {
		min-height: 450px;
	}
	&-3 {
		min-height: 300px;
	}
	&-4 {
		min-height: 490px;
	}
	&-5 {
		min-height: 100px;
	}
	&:last-child {
		border-bottom: none;
	}
}